.App {
  display: flex;
}
.App .mapDiv {
  width: 100vw;
  height: 100vh;
}
.App .mapDiv .daySelector {
  display: flex;
  flex-direction: column;
}
.App .mapDiv .daySelector .buttonMain {
  width: 100px;
  height: 40px;
  background: white;
  border-radius: 4px;
  border: 1px solid lightgray;
}
.App .mapDiv .daySelector span {
  display: flex;
  flex-direction: column;
}
.App .mapDiv .temperatureDiv {
  display: flex;
  flex-direction: column;
}
.App .mapDiv .anim-enter {
  width: 100px;
  max-height: 0px;
  font-size: 0px;
}
.App .mapDiv .anim-enter.anim-enter-active {
  width: 100px;
  max-height: 40px;
  font-size: 13.3333px;
  transition: all 500ms ease;
}
.App .mapDiv .anim-leave {
  width: 100px;
  max-height: 40px;
  font-size: 13.3333px;
}
.App .mapDiv .anim-leave.anim-leave-active {
  width: 100px;
  max-height: 5px;
  font-size: 0px;
  transition: all 500ms ease;
}
